<h2>Список задач</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Задача</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each tasks}}
        <tr>
            <td>{{id}}</td>
            <td>{{task}}</td>
            <td>
                <a href="/task/{{id}}/delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                <a href="/task/{{id}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Добавить задачу</h2>

{{#if error}}
    <h2>{{error}}</h2>
{{/if}}

<form action="/tasks" method="post">
    <input type="text" name="task" placeholder="Задача">
    <input type="submit" value="Добавить">
</form>
